@tailwind base;
@tailwind components;
@tailwind utilities;
.overlay {
    background: linear-gradient(175deg, #AB23FF 4.29%, #3D8BFF 47.39%, #000000 95.05%);
    mix-blend-mode: soft-light;
}

.video-overlay {
    background: linear-gradient(175deg, rgba(61, 139, 255, 0.44) 4.29%, #AB23FF 95.71%);
    mix-blend-mode: soft-light;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ellipse{
    border-radius: 1106px;
    background:  #000;
    filter: blur(18px);
    width: 773px;
    height: 65px;
}

.gradient-text {
    background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-bg{
    background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
}
.gradient-border {
    border-top: 1px solid #3D8BFF;
    border-bottom: 1px solid #3D8BFF;
}

.flip-horizontal {
    transform: scaleY(-1);
    transition: transform 300ms ease-out;
}
.bg-blur{
    background: rgba(13, 19, 28, 0.70);
    backdrop-filter: blur(5px);
}
.black-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
}
.bg-gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(175deg, #3D8BFF 4.29%, #AB23FF 95.71%);
    mix-blend-mode: soft-light;
}
.card-container:hover img{
    transform: scale(1.1);
    transition: transform 200ms ease-in 10ms;
}
